
.missions {
  $gray: rgb(182, 182, 182);

  display: grid;
  grid-template-columns: 2fr 6fr 1fr 1fr;
  background-color: $gray;
  border: 1px solid $gray;
  margin: 0 2rem;
  gap: 1px;
  border-radius: 0.2rem;
  overflow: hidden;

  > * {
    background-color: rgb(240, 240, 240);
    padding: 0.4rem;
  }

  @for $i from 1 through 4 {
    > *:nth-child(#{$i}) {
      font-weight: bold;
    }

    > *:nth-child(8n + #{$i}) {
      background-color: white;
    }
  }
}
